.footer {
  display: block;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 10px;
}

.footer-title {
  font-size: 30px;
  text-shadow: 0 2px 10px black;
}

.footer-title__link {
  transition: all 0.3s ease-in-out;
}

.footer-title:hover .footer-title__link {
  font-size: 50px;
}
