.home-inner {
  font-size: 50px;
  margin: 15% 0;
}
@media screen and (max-width: 1400px) {
  .home-inner {
    margin: 10% 0;
  }
}

@media screen and (max-width: 698px) {
  .home-inner {
    font-size: 40px;
  }
}

.home-inner__title {
  margin-top: 100px;
}

.home-inner__info {
  margin-top: 20px;
}

.home {
  min-height: 100vh;
  height: 100%;
  text-align: center;
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}
