.home-inner {
  font-size: 50px;
}

.home-inner__title {
  margin-top: 100px;
}

.home-inner__info {
  margin-top: 20px;
}

.home {
  height: 100vh;
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-shadow: 0 2px 10px black;
}
