.app-container {
  margin: 0;
  text-align: center;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  outline: none;
  text-decoration: none;
  color: white;
}

a:-webkit-any-link:hover {
  text-decoration: none;
  color: white;
}
